
body {
    background-image: url(back.jpg);
}
.container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
}




.savings {
    background-image: url(savings.jpg);
    border: 3px solid  darkred;
    width: 40%;
    text-align: center;
    margin: 30px 35px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 20em;
    
    /* margin-bottom: 20px; */

}
.dispNumb {
    
    width: 20em;
    height: 10em;
 
}
.dispNumb2 {
    width: 20em;
    height: 10em;
    
}
.checking {
    background-image: url(checking.jpeg);
    border: 3px solid darkred;
    width: 40%;
    text-align: center;
    margin: 30px 35px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 20em;

}
.sav-wit {
    height: 40px;
    width: 100px;
    background-color: blanchedalmond;
}
.sav-dep {
    height: 40px;
    width: 100px;
    background-color: blanchedalmond;
    margin-left: 10px;
}
.chec-wit {
    height: 40px;
    width: 100px;
    background-color: lightblue;
    margin-bottom: 10px;
 
}
.chec-dep {
    height: 40px;
    width: 100px;
    background-color: lightblue;
    margin-left: 10px;
    margin-bottom: 10px;
    
   
}
.sav-inp {
    height: 4em;
    width: 68%;
    background-color: lightblue;
    
}
.chec-inp {
    height: 4em;
    width: 68%;
    background-color: lightgoldenrodyellow;
}
.test {
    text-align: center;
    margin-bottom: 10px;
}
.buttons {
    justify-content: center;
    display: flex;
    flex-direction: row;
    text-align: center;
     
}
.foot {
    text-align: center;
    color: lightcoral;
    background-color: darkred; 
    border: 1px solid red;
}
.tel {
    text-decoration: none;
    color: indianred;
}
.mil {
    border: 1px solid gold;
    background-color: goldenrod;
    font-family: Verdana;
    text-align: center;
}
.headApp {
    text-align: center;
    border: 2px solid red;
    background-color: darkred;
    color: lightcoral;
}
@media (max-width:450px){
    body{
        background-color: lemonchiffon;
    }
    .container{
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .acc {
        font-size: 90%;
    }
}
