 <div class="ind">
    <h2>Please enter a movie name below:</h2>
    <form action="/options">
        <input name="movie_title" type="text">
        <button>search</button>
        <h2>Please remember that we are outsourcing all the data so we dont take any responsibility for the content displayed.</h2>
        <h3>Please supervise children while using this search engine as some of the content might require parental guidance!</h3>
        <h3>Have fun exploring!</h3>
</div>