<div class="movie-details">
    <div class="outcome-left">
        <p class="movie-title"> <%= @movie.title %></p>
        <p>Released: <%= @movie.year %></p>
    </div>
    <div class="outcome-right"><img class="image_url" src="<%= @movie.image_url %>"></img></div>
</div>