

<div class ="allmovies">
    <% @multiple["Search"].each do |movie| %>
    <div><a name="output" href="/movie_info?movie_name=<%= movie["Title"] %>"><%= movie["Title"]%></a></div> 
    <% end %>
</div>
