.toplogo {
    background-image: url(../images/background.jpg);
    height: 150px;
    background-repeat: repeat-x;
}
.centerlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    position: absolute;
    left: 450px;
    right: 450px;
    top: 20px;
    
}
body {
    /* width:900px; */
    background-color:rgb(216, 216, 214);
    border: 1px solid black;
}
.page{
    padding:20px;

}
main{
    background-color: white;
}
.
