*{
    box-sizing: border-box;
}



.nav {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    
    
}

li {
    float: left;
}

.bar {
    justify-content: center;
    display: flex;
    flex-direction: row;
    color: white;
    /* text-align: center; */
    padding: 30px 50px;
    text-decoration: none;
    
}
span {
    float: left;
    width: 0.7em;
    font-size: 400%;
    font-family: algerian, courier;
    line-height: 80%;
    color: grey;
}
.more {
    
    border-bottom: 1px dotted black;
    color: red;
    text-decoration: none;
    justify-content: right;
    display: flex;
    
}
.ad {
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.sub {
    display: flex;
    justify-content: right;
    flex-direction: column;
    color: darkred;
}
main {
    
    padding: 30px;
    margin-top: 15px;
    width: 68%;
}
.mainbody {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
aside {
    padding: 30px;
    margin-top: 20px;
    width: 30%;
}
article img {
    width: 100%;
    height: auto;
}
.bottom {
    text-decoration: none;
    margin-top:20px;
}
p {
    font-family: Cambria;
}
.mainbody {
    padding: 20px;

}
.pop {
    border-top: 1px dotted black;
    color:grey;
    
}
.sar {
    font-size: 50px;
    color: red;
    font-family: Cambria;
    margin-left: 20px;
}
date {
    color: grey;
    font-family: Arial;
    text-align: left;
    margin-top: 20px;
}
.grey {
    color: gray;
}
.bet{
    color:grey;
}
.bet {
    font-size: 30px;
    margin-left:15px;
}
.heading {
    color: grey;
}