<form action="/games" method="post">
<input type="hidden"name="authenticity_token" value="<%= form_authenticity_token%>">
    <label for="">Ask any question you want and I will answer</label>
    <input name="question" type="text">
    <button>Submit</button>
</form>
