<div class="about-layout">
    <h2>Instructions:</h2>
    <p>With this finder, you can find the basic information about any movie that you like. Simply type in the name of the movie into the search and we will show you all you need to know about the next movie that you want to watch!</p>
    <p>Dont miss this wonderful opportiunity to get more info about movies!</p>
</div>