<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="top">
        <img src="/images/movie1.png" style="width:150px;height:120px;border:0;" alt="mov1">
        <h1 class="heading" >Movie Search Engine</h1>
        <img src="/images/movie2.png" style="width:150px;height:120px;border:0;" alt="mov">
    </div>
    <%= yield %>
</div>
    <div class="icons">
        <a href="/about">
            <img class="about" src="/images/about1.png" style="width:150px;height:60px;border:0;" alt="About Us">
        </a>
        <a href="/">
            <img src="/images/home.png" style="width:150px;height:120px;border:0;" alt="Homepage">
        </a>
        <a href="/contact">
            <img class="/contact" src="/images/contact.png" style= "width:150px;height:80px;border:0;" alt="Contact Us">
        </a>
   
    </div>
    <footer>&copy;copyright</footer>
</body>
</html>