<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Stock Exchange</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="display">
        <h2>Stock exchange app</h2>
        <h4>Please type in the stock name:</h4>
        <form action="/request">
            <input  autocorrect="off" autocapitalize="off" spellcheck="false" class="input" name="company" type="text" placeholder="eg. msft">
            <button class="button">price request</button>
        </form>
        <p><%= "Latest exchange rate: "+ @stock %></p>
        <p><%= "Company name: "+ @name %></p>
    </div>
</body>
</html>